/Call center/nbproject/private/
/Call center/build/
/Servidor/Servidor/nbproject/private/
/Servidor/build/
/Servidor/nbproject/private/
/Cliente/dist/
/Servidor/dist/
/NewCliente/build/
/NewCliente/dist/
/Servidor_1/dist/
/Cliente_1/build/
/NewPooProject/dist/